@font-face {
  font-family: "iconfont";
  src: url('../icon/iconfont.eot?t=1593657363251'); /* IE9 */
  src: url('../icon/iconfont.eot?t=1593657363251#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../icon/iconfont.woff?t=1593657363251') format('woff'),
  url('../icon/iconfont.ttf?t=1593657363251') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../icon/iconfont.svg?t=1593657363251#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-houtui:before {
  content: "\e629";
}

.icon-fanhui:before {
  content: "\e6a8";
}

.icon-xiaoxi:before {
  content: "\e635";
}

.icon-xuanzhongshangcheng:before {
  content: "\e60b";
}

.icon-zongheanquanshitaifenxi:before {
  content: "\e604";
}

.icon-jinggaoxinxi:before {
  content: "\e605";
}

.icon-caidan:before {
  content: "\e606";
}

.icon-keshihuaGISjiankong:before {
  content: "\e607";
}

.icon-xiaoxitixing:before {
  content: "\e608";
}

.icon-shipinjiankong:before {
  content: "\e609";
}

.icon-yonghushezhi:before {
  content: "\e60a";
}

.icon-peizhizhongxin:before {
  content: "\e60c";
}

.icon-zhishiku:before {
  content: "\e60d";
}

.icon-zonghexinxichaxun:before {
  content: "\e60e";
}

.icon-guochenganquanguanli:before {
  content: "\e60f";
}

.icon-yingjiguanli:before {
  content: "\e610";
}

.icon-tuichu1:before {
  content: "\e611";
}

.icon-yonghushezhi2:before {
  content: "\e614";
}

.icon-xiugaimima:before {
  content: "\e612";
}

.icon-qiyedangan:before {
  content: "\e613";
}

.icon-yingjiwuzi:before {
  content: "\e615";
}

.icon-caijizhongduan:before {
  content: "\e616";
}

.icon-MSDS:before {
  content: "\e617";
}

.icon-weixiangongyi:before {
  content: "\e618";
}

.icon-ganzhibaojing:before {
  content: "\e619";
}

.icon-baojingzonglan:before {
  content: "\e61a";
}

.icon-yinhuanpaichazhili:before {
  content: "\e61b";
}

.icon-chengbaoshangguanli:before {
  content: "\e61c";
}

.icon-teshuzuoyeguanli:before {
  content: "\e61d";
}

.icon-anquanfengxianfenquguanli:before {
  content: "\e61e";
}

.icon-zhinengyuanguanli:before {
  content: "\e61f";
}

.icon-baojingguanli:before {
  content: "\e620";
}

.icon-dashboard:before {
  content: "\e65a";
}

.icon-shipinbaojing:before {
  content: "\e625";
}

.icon-fengxianbianshipinggu:before {
  content: "\e626";
}

.icon-renyuanguanli:before {
  content: "\e627";
}

.icon-jixiewanzhengxingjianxiu:before {
  content: "\e628";
}

.icon-baocun:before {
  content: "\e62a";
}

.icon-yuzhibiangeng:before {
  content: "\e62b";
}

.icon-xiazai:before {
  content: "\e62c";
}

.icon-shanchu:before {
  content: "\e62d";
}

.icon-yidu:before {
  content: "\e62e";
}

.icon-quxiao:before {
  content: "\e630";
}

.icon-xinzeng:before {
  content: "\e631";
}

.icon-tijiao:before {
  content: "\e632";
}

.icon-bianji:before {
  content: "\e633";
}

.icon-shiguguanli:before {
  content: "\e634";
}

.icon-cheliangguanli:before {
  content: "\e636";
}

.icon-yingjiyanlian:before {
  content: "\e637";
}

.icon-shangbaoyinhuan:before {
  content: "\e638";
}

.icon-ico-charts:before {
  content: "\e621";
}

.icon-ico-charts-help:before {
  content: "\e622";
}

.icon-ico-arr-up:before {
  content: "\e623";
}

.icon-ico-arr-down:before {
  content: "\e624";
}

.icon-shezhi:before {
  content: "\e639";
}

.icon-daochu:before {
  content: "\e63a";
}

.icon-laws:before {
  content: "\e653";
}

.icon-biaoqianchangguidianji:before {
  content: "\e63d";
}

.icon-caidanpeizhichanggui:before {
  content: "\e63e";
}

.icon-gongnengliebiaochanggui:before {
  content: "\e63f";
}

.icon-quchuchanggui:before {
  content: "\e640";
}

.icon-quanbuzhankai:before {
  content: "\e641";
}

.icon-quanbushouqi:before {
  content: "\e642";
}

.icon-tuodongchanggui:before {
  content: "\e643";
}

.icon-xitongcaidan:before {
  content: "\e644";
}

.icon-zidingyicaidan:before {
  content: "\e645";
}

.icon-biaoqianxuanfu:before {
  content: "\e646";
}

.icon-yangnonglogo:before {
  content: "\e647";
}

.icon-houtui-copy:before {
  content: "\e6a9";
}

.icon-fanhui-copy:before {
  content: "\e6aa";
}

